html {
    color: white;
    background-color: rgb(30, 30, 30);
    font-family: "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}
* {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header > div span {
    white-space: nowrap;
    overflow: hidden;
}

.top-config {
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.top-content {

    width: 100%;
    /*width: 1500px;*/
    /*height: 50px;*/
    /*border-bottom: lightblue;*/
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    border-radius: 1rem;
    /*border-bottom-width: 5px;*/
    /*border-bottom-style: solid;*/
    /*font-size: 0px;*/
    position: relative;
        box-shadow: inset 0 0 20px 1px #646464;

}

.top-content-items {
    font-size: 30px;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.RightSideLinks {
    gap: 20px;
}

.main-content {
    align-self: start;
    /*flex-wrap: nowrap;*/
    display: flex;
    flex-direction: row;
    justify-content: start;
}

main {
    color: white;
    text-align: center;
}

.main-content-items {
    /*align-items: start;*/
    border: lightblue;
    border-style: solid;
    border-width: 6px;
    font-size: 130%;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;
    width: 800px;


}
.main-content-items-ad {
    /*align-items: start;*/
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: 130%;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: start;

    width: 800px;
    box-shadow: inset 0 0 20px 1px #646464;

}

.versions {
    display: flex;
    flex-direction: row;
    gap: 4rem;

}

.mod1, .mod2 {
    display: flex;
    justify-content: center;
}


.UtilHudMod, .FullbrightMod, .ArmorDurabilityMod {
    padding-right: 20px;
    width: 100%;
    max-width: 200px;

}

.infoAboutMe {
    display: flex;
    justify-content: center;
}

.BoxOne {
    padding: 5px;
    align-self: center;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-style: solid;
    border-color: lightblue;
    border-radius: 10px;
    max-width: 1000px;

}

.descAndTitle {
    justify-items: start;
}